*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
}
img{
    border: 0 none;
    vertical-align: top;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
ul,li{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.shoppingcart{
    font-size: 12px;
    color: #333333;
    min-width: 375px;
    background: #f7f7f7;
}
.shoppingcart-box{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 30;
}
.shoppingcart-top{
    position: relative;
    display: flex;
    height: 44px;
    background-color: #fff;
    z-index: 40;
}
.to-home{
    display: block;
    width: 44px;
    height: 44px;
    background: url(../shoppingcart-image/to-home.png) no-repeat 50%;
    background-size: 20px 20px;
}
.cart{
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color: #333333;
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.top-more{
    display: block;
    width: 44px;
    height: 44px;
    background: url(../shoppingcart-image/top-more.png) no-repeat 50%;
    background-size: 20px;
}
/* .top-more:hover .top-more-nav{
    display: block;
} */
.top-more-nav{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    width: 125px;
    right: 10px;
    top: 53px;
    border-radius: 4px;
}
.top-more-nav::before{
    content: "";
    position: absolute;
    top: -5px;
    right: 7px;
    width: 0;
    height: 0;
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0,0,0,.9);
}
.top-more-nav .to-home-page{
    position: relative;
    height: 40px;
    background: url(../shoppingcart-image/home.png) no-repeat 13px;
    background-size: 15px;
}
.top-more-nav .to-search{
    position: relative;
    height: 40px;
    background: url(../shoppingcart-image/search.png) no-repeat 13px;
    background-size: 15px;
}
.top-more-nav .to-search::before{
    content: "";
    position: absolute;
    left: 40px;
    right: 0;
    top: 0;
    height: 1px;
    background-color: rgba(160, 155, 155, 0.2);
}
.top-more-nav .to-shoppingcart{
    position: relative;
    height: 40px;
    background: url(../shoppingcart-image/nav-cart.png) no-repeat 13px;
    background-size: 15px;
}
.top-more-nav .to-shoppingcart::before{
    content: "";
    position: absolute;
    left: 40px;
    right: 0;
    top: 0;
    height: 1px;
    background-color: rgba(160, 155, 155, 0.2);
}
.top-more-nav .to-myJD{
    position: relative;
    height: 40px;
    background: url(../shoppingcart-image/myJD.png) no-repeat 13px;
    background-size: 15px;
}
.top-more-nav .to-myJD::before{
    content: "";
    position: absolute;
    left: 40px;
    right: 0;
    top: 0;
    height: 1px;
    background-color: rgba(160, 155, 155, 0.2);
}
.top-more-nav .to-browse-records{
    position: relative;
    height: 40px;
    background: url(../shoppingcart-image/browse-records.png) no-repeat 13px;
    background-size: 15px;
}
.top-more-nav .to-browse-records::before{
    content: "";
    position: absolute;
    left: 40px;
    right: 0;
    top: 0;
    height: 1px;
    background-color: rgba(160, 155, 155, 0.2);
}
.top-more-nav .to-nav{
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    padding-left: 40px;
}
.shoppingcart-top::after{
    content: "";
    position: absolute;
    height: 1px;
    z-index: 1;
    background-color: #e5e5e5;
    left: 0;
    right: 0;
    bottom: 0; 
}
.spike-commodity{
    background: #fff;
    margin: 0 0 10px 10px;
}
.spike-top{
    display: flex;
    height: 45px;
    line-height: 45px;
}
.spike-top-text{
    margin: 0 10px 0 15px;
    font-weight: 700;
    font-size: 16px;
    color: #333;
}
.spike-time{
    font-size: 12px;
    color: #999999;
    display: flex;
    flex: 1;
}
.spike-commodity-list{
    position: relative;
    padding: 0 15px 15px;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
}
.spike-commodity-a{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding: 0 5px 5px;
    text-align: center;
    border-radius: 4px;
    width: 24%;
}
.spike-commodity-img{
    position: relative;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
}
.spike-commodity-img img{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
}
.spike-price-num{
    color: #e4393c;
    font-size: 16px;
}
.original-price{
    color: #999;
    text-decoration: line-through;
    line-height: 18px;
}
.spike-commodity-more{
    position: absolute;
    display: inline-block;
    margin-right: 10px;
    width: 55px;
    height: 100%;
    bottom: 20px;
    text-align: center;
    border-radius: 4px;
}
.skipe-more-box{
    width: 45px;
    height: 100%;
    background-color: #f7f7f7;
}
.spike-more-text{
    position: absolute;
    margin-top: -25px;
    padding-bottom: 12px;
    left: 12px;
    top: 50%;
    color: #999999;
    text-align: left;
    writing-mode: vertical-rl;
    letter-spacing: 2px;
}

.shopcart-empty-wrap{
    padding: 30px 0 15px;
    text-align: center;
    background-color: #f0f0f0;
}
.shopcart-logo{
    width: 90px;
    height: 90px;
}
.shopcart-text{
    display: block;
    margin: 11px 0;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51,51,51,.66);
}
.login{
    margin: 0 auto 15px;
    width: 60px;
    height: 30px;
    font-size: 14px;
    border-radius: 4px;
    border-color: #e93b3b;
    color: #e93b3b;
    background: #fff;

}

.coupon-wrap{
    padding: 15px 10px;
    background: #fff;
    font-family: JDZH-Regular;
}
.coupon-top{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.coupon-title{
    position: relative;
    padding: 0 15px;
    font-size: 16px;
    color: #333333;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.coupon-title::before{
    position: absolute;
    content: "";
    width: 12px;
    height: 17px;
    background: url(../shoppingcart-image/coupon.png) no-repeat;
    background-size: 12px;
    left: 0;
    top: 5px;
    transform: rotate(180deg);
}
.dot{
    position: relative;
    padding: 0 10px 0 3px;
}
i{
    font-style: normal;
}
.coupon-title .dot::after{
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    background-color: #333333;
    border-radius: 50%;
    top: 50%;
    margin-top: -2px;
}
.coupon-title::after{
    position: absolute;
    content: "";
    width: 12px;
    height: 17px;
    background: url(../shoppingcart-image/coupon.png) no-repeat;
    background-size: 12px;
    right: 0;
    top: 5px;
}
.coupon-get{
    height: 30px;
    padding: 0 15px;
    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    background-image: linear-gradient(-90deg,#e93b3b,#ff9574);
    box-shadow: 0 5px 10px 0 rgba(233,59,61,.2);
    border-radius: 15px;
}
.coupon{
    height: 64px;
    margin-top: 12px;
}
.coupon .mod-coupon{
    width: 33%;
    height: 64px;
    float: left;
    position: relative;
    margin-right: 1px;
    overflow: hidden;
}
.coupon .mod-coupon::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 64px;
    top: 0;
    z-index: 3;
    left: 0;
    background: url(../shoppingcart-image/coupon-bottom-l.png) no-repeat;
    background-size: 3px 64px;
}
.mod-coupon-top{
    position: relative;
    padding: 0 8px;
    height: 40px;
    display: flex;
    border-top: 1px solid #f7f7f7;
    overflow: hidden;
}
.mod-coupon .mod-coupon-top .c-type{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 36px;
    height: 36px;
    border: 2px solid #eee;
    border-radius: 50%;
    top: -11px;
    left: -4px;
    color: #eeeeee;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
}
.type-dong .mod-coupon-top .num-type{
    color: #6ed1d3;
}
.mod-coupon .mod-coupon-top .num-type{
    position: relative;
    line-height: 1;
    flex-shrink: 0;
    max-width: 62px;
    overflow: hidden;
}
.mod-coupon-top .num-type .yan{
    position: absolute;
    left: 0;
    bottom: 5px;
    font-size: 12px;
}
.mod-coupon-top .num-type .num{
    position: relative;
    display: block;
    max-width: 52px;
    padding-left: 10px;
    top: 14px;
    font-size: 24px;
    font-weight: 700;
}
.mod-coupon-top .c-desc{
    position: relative;
    padding-left: 3px;
    line-height: 12px;
    height: 12px;
    margin-top: 23px;
    font-size: 10px;
    color: #999999;
}
.type-dong .mod-coupon-bottom{
    background-image: linear-gradient(-179deg,#73d2d4 2%,#53c7ca 99%);
}
.mod-coupon .mod-coupon-bottom{
    padding: 0 10px;
    line-height: 24px;
    color: #fff;
}
.mod-coupon::after{
    position: absolute;
    content: "";
    width: 3px;
    height: 64px;
    top: 0;
    right: 0;
    background: url(../shoppingcart-image/coupon-bottom-r.png) no-repeat;
    background-size: 3px 64px;
}
.type-yun .mod-coupon-top .num-type{
    color: #7ea7ce;
}
.type-yun .mod-coupon-bottom{
    background-image: linear-gradient(-179deg,#7da7ce ,#5f92c2 98%);
}

.partition-line{
    position: relative;
    margin: 15px 0;
    height: 12px;
    line-height: 12px;
    text-align: center;
    font-size: 12px;
    color: #999999;
}
.partition-line-text::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    width: 4px;
    height: 4px;
    background-color: #ccc;
    transform: rotate(45deg);
}
.partition-line-text{
    padding: 0 15px;
    position: relative;
    z-index: 2;
    background-color: #f7f7f7;
}
.partition-line-text::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2px;
    width: 4px;
    height: 4px;
    background-color: #ccc;
    transform: rotate(45deg);
}
.partition-line::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 5px;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}
.recommend{
    position: relative;
    overflow: hidden;
    background: #fff;
}
.recommend-list{
    padding-right: 1px;
    overflow: hidden;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recommend li{
    position: relative;
    width: 50%;
    float: left;
    margin-bottom: 1px;
    padding: 15px 15px 0;
    box-sizing: border-box;
    background-color: #fff;
}
.recommend-img{
    position: relative;
    height: 337.5px;
    overflow: hidden;
}
.recommend-img img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.recommend-name{
    margin: 12px 0 4px;
    font-size: 12px;
    color: #333;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recommend-price{
    display: flex;
    overflow: hidden;
}
.price{
    flex: 1;
    overflow: hidden;
    color: #e93b3b;
}
.price-num{
    display: inline-block;
    
    font-size: 12px;
    margin-right: 3px;
    line-height: 20px;
}
.price em{
    font-size: 16px;
    font-style: normal;
}
.voucher{
    color: #e93b3b;
}
.voucher::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 14px;
    margin-left: -15px;
    margin-top: 4px;
    border: 1px solid #e4393c;
}
.voucher_new::after{
    content: "";
    position: absolute;
    width: 29px;
    height: 14px;
    margin-left: -27px;
    margin-top: 4px;
    border: 1px solid #e4393c;
}
.recommend-price .buy{
    position: relative;
    width: 30px;
    height: 24px;
    background: url(../shoppingcart-image/redcart.png) no-repeat 50%;
    background-size: 15px;
}
.right-li{
    float: right;
    margin-right: -1px;
}
.recommend-tag img{
    width: 20px;
    height: 14px;
    margin-top: 4px;
    margin-right: 5px;
}
.single{
    color: #999;
    text-decoration: line-through;
    line-height: 18px;
}

.gotop{
    position: fixed;
    z-index: 999;
    width: 40px;
    height: 40px;
    right: 0;
    font-size: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    border-radius: 3px 0 0 3px;
}
.gotop::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(../shoppingcart-image/go-top.png) no-repeat 50%;
    background-size: 25px;
}
